<div class="postmeta-foot">
  {{ if isset .Site.Params "utterences_repo" }}
  <script src="https://utteranc.es/client.js"
    repo="{{ .Site.Params.utterences_repo }}"
    {{ if isset .Params "utterences_term" -}}
      issue-term="{{ .Params.utterences_term }}"
    {{- else if isset .Site.Params "utterences_term" -}}
      issue-term="{{ .Site.Params.utterences_term }}"
    {{- else -}}
      issue-term="pathname"
    {{- end }}
    theme="github-light"
    crossorigin="anonymous"
    async>
  </script>
  {{ end }}
  <div class="columns">
    <div class="column">
      {{ partial "categories" . }}
    </div>
    <div class="column">
      {{ if (and (isset .Site.Params "suggest_edit") (isset .Site.Params "git_repo") (isset .Site.Params "git_branch") (isset .Site.Params "git_host")) }}
        {{ partial "suggest-edit" . }}
      {{ end }}
    </div>
  </div>
</div>
