.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }
  p,
  li {
    font-size: 1.125rem;
  }
  pre,
  code {
    a {
      color: $text-strong;
    }
  }
  pre {
    padding: 1.5rem 1.5rem 1.4rem;
  }
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table,
  .highlight,
  .postmeta-foot {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    margin-right: auto;
    margin-left: auto;
  }
  blockquote ul:first-child {
    margin-top: 0;
  }
  a {
    word-break: break-all;
    word-break: break-word;
  }
  .title,
  .title a,
  .title a:hover {
    color: $text-strong;
    text-decoration: none;
  }
}
