@import 'bulma/sass/elements/content';
.content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.5rem;
    &:not(:first-child) {
      margin-top: 3rem;
    }
  }
  p,
  li {
    font-size: 1.125rem;
  }
  pre,
  code {
    font-family: 'Consolas', monospace;
    font-size: 1rem;
  }
  pre {
    padding: 1.5rem 1.5rem 1.4rem;
  }
  p,
  dl,
  ol,
  ul,
  blockquote,
  pre,
  table,
  .highlight,
  .postmeta-foot {
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
  img {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    margin-right: auto;
    margin-left: auto;
  }
  blockquote ul:first-child {
    margin-top: 0;
  }
}
