.default-list {
  .item {
    padding: 3rem 0 2.5rem;
    &:first-child {
      padding-top: 0;
    }
    border-bottom: 1px solid #dadada;
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
    .title {
      margin: 0;
    }
    a {
      color: $black;
    }
    .postmeta-head,
    .postmeta-foot {
      margin: 0 0 0.5rem;
    }
    h1 {
      margin: -0.1rem 0 0.5rem;
    }
  }
}
