.header .navbar {
  $line-height: 3rem;
  li,
  a {
    user-select: none;
  }
  .revealer {
    display: none;
  }
  li {
    display: none;
  }
  &.style-desktop li {
    display: block;
  }
  &.style-desktop .revealer {
    display: none;
  }
  &.style-revealed .revealer {
    display: block;
  }
  ul {
    display: flex;
  }
  a {
    margin: 0 (1.618rem / 2);
    line-height: $line-height;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
    border-bottom: 2px solid transparent;
  }
  a:hover {
    text-decoration: none;
    border-color: $black;
  }
  .revealer a {
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    &:active,
    &:hover {
      text-decoration: none;
    }
    &.hover {
      text-decoration: none;
    }
  }
  li:last-of-type {
    margin-right: 0;
  }
}
.navbar-items-revealed {
  margin-top: -1.854rem;
  margin-bottom: 2.5rem;
  text-align: center;
  transition: opacity 180ms linear;
  opacity: 0;
  .container {
    padding-bottom: 2rem;
    border-bottom: 1px solid #dadada;
  }
  &.fadein {
    opacity: 1;
  }
  li {
    margin: 0 0 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
  }
  a {
    color: $black;
    text-decoration: none;
  }
  a:hover {
    color: $black;
    text-decoration: underline;
  }
}
