.header {
  $line-height: 3rem;
  display: flex;
  padding-top: 2rem;
  margin-bottom: 3rem * 1.618;
  .brand {
    flex-grow: 1;
  }
  .content,
  h1 {
    margin: 0;
  }
  h1 {
    font-size: 1.75rem;
    line-height: $line-height;
  }
  a {
    color: $black;
  }
  a:hover {
    text-decoration: underline;
  }
}
