.postmeta {
  $height: 2rem;
  color: lighten($black, 30);
  margin-bottom: 1rem;
  p,
  span {
    display: flex;
  }
  p {
    margin: 0;
    font-size: 1rem;
    line-height: $height;
  }
  p > span:not(:last-child):after {
    content: '\2022';
    padding: 0 0.5rem;
  }
  .gravatar {
    height: $height;
    border-radius: 10rem;
    margin: 0 0.5rem 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
  }
}
