.postmeta-head {
  $height: 2rem;
  color: lighten($black, 30);
  p,
  span,
  li {
    font-size: 1rem;
  }
  p,
  span {
    display: flex;
    flex-wrap: wrap;
  }
  p {
    margin: 0;
    line-height: $height;
  }
  p > span:not(:last-child):after {
    content: '\2022';
    padding: 0 0.5rem;
  }
  .gravatar {
    height: $height;
    border-radius: 10rem;
    margin-right: 0.6rem;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
  }
  a {
    color: $light-gray;
  }
  a:hover {
    color: $light-gray;
    text-decoration: underline;
  }
  .author {
    font-weight: bold;
  }
}
