.postmeta-foot {
  @extend .columns;
  > div {
    @extend .column;
  }
  p,
  span,
  li {
    font-size: 1rem;
  }
  ul {
    @include commalist;
  }
  a {
    color: $light-gray;
  }
  a:hover {
    color: $light-gray;
    text-decoration: underline;
  }
  .suggest-edit {
    @include tablet {
      text-align: right;
    }
  }
}
