@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/container';
@import 'bulma/sass/elements/content';
html {
  text-rendering: auto;
}
@import '_body';
@import '_header';
pre,
code,
pre code {
  font-family: 'Consolas', monospace;
}
.content pre {
  padding: 1.618rem;
}
.content pre code {
  line-height: 1.5;
}
